$aavn-primary-color: #02a9f7;
$aavn-warning-color: #ff9900;
$aavn-error-color: #fc4a1a;
$aavn-black-color: #424242;
$aavn-white-color: #ffffff;

$aavn-overlay-color: rgba(0, 0, 0, 0.4);
$aavn-spinner-progressbar-background-color: rgba(0, 0, 0, 0.2);

$aavn-color: #4dc3f9;
$aavn-hover-color: #35baf9;
$aavn-focus-color: #1bb1f8;
$aavn-active-color: #02a9f7; 

$aavn-inactive-color: #7a7a7a;
$aavn-inactive-hover-color: #686868;
$aavn-inactive-focus-color: #555555;
$aavn-inactive-active-color: #424242;

$aavn-delete-button-color: #fd805e;
$aavn-delete-hover-button-color: #fd6e48;
$aavn-delete-focus-button-color: #fc5c30;
$aavn-delete-active-button-color: #fc4a1a;
